@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.skip-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: white; 
}

.skip-links a {
	padding: 0.5em 0.75em;
	position: absolute;
	top: -3em;
	background-color: #000;
	color: #fff;
	font-size: 1.125em;
	font-weight: bold;
	text-decoration: none;
}

.skip-links a:focus {
  top: 0;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.flex-img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.contact {
    background: white no-repeat bottom center;
    background-size: cover;
    bottom: 0;
    width: 100%;
    position: relative;
    overflow: auto;
}

.contact-info {
    margin: 7rem auto;
}

.contact-e {
    text-align: center;
    width: 100%;
    font-size: 1.85rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em;
    margin: 0 auto;
}

.socialmedia {
    text-align: center;
}

.socialmedia li {
    display: inline-block;
    margin: 1rem;
}

.socialmedia li:hover {
	opacity:0.6; 
}

ul {
    list-style-type: none;
}

.hide-text {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 2rem;
}

a {
    color: inherit;
}

.link-name {
    margin-left: 10px;
}

